html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 2;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 70rem;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

.nombre-sitio {
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
}

.nombre-sitio span {
    color: #037bc0
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.nav-principal {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url('assets/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20%;
    height: 500px;
}

.categorias {
    padding-top: 1rem;
}

.categorias h2 {
    text-align: center;
}

.categoria a {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover {
    background-color: #037bc0;
    color: white;
    border-bottom-right-radius: 10px;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sobre-nosotros {
    background-image: linear-gradient(to right,transparent 50%, #037bc0 50%, #037bc0 100%), url(./assets/nosotros.jpg);
    padding: 4rem 0;
    height: 400px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 60rem;
}

.sobre-nosotros-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
}

.texto-nosotros {
    grid-column: 2 / 3;
    color: white;
}